<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ components/head :: headFragment }"></head>

<style>
  .icon i {
    font-size: 4em;
    transition: color 0.3s ease; /* Smooth transition for color change */
  }

  .icon a:hover i {
    color: red; /* Change the color to your desired hover color */
  }
  .icon .label-icon:hover{
    color: rgb(255, 170, 0);
  }
</style>


<body>

  <!-- ======= Header ======= -->


   <!-- ======= Header ======= -->
   <header th:replace="~{components/navbar :: topnavbarfragment}"> </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside th:replace="~{ components/sidebar :: sidebarfragment}"></aside><!-- End Sidebar-->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="jeewacomputers">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="d-flex" style="gap: 20px; align-items: center;">

        <div class="row " >
          <div class="icon d-flex"  >
            <a href="employee" style="transition: color 0.3s ease ;">
              <i class="bi bi-person-add  " style="font-size: 4em; "></i>

              <div class="label-icon">Employee Management</div>
            </a>
          </div>
  
        </div>
        <div class="row">
          <div class="icon" >
            <a href="user" style="transition: color 0.3s ease ;">
              <i class="bi bi-people-fill " style="font-size: 4em;"></i>
              <div class="label-icon">User Management</div>
            </a>
          </div>
  
        </div>
        <div class="row">
          <div class="icon">
            <a href="privilege" style="transition: color 0.3s ease ;">
              <i class="bi bi-person-fill-check " style="font-size: 4em;"></i>
              <div class="label-icon">Privilege Management</div>
            </a>
          </div>
  
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="~{ components/footer :: footerfragment}"></footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>